.features {
  @extend %padding;
  &__title {
    @include text(
      $color: $title-color,
      $size: 14px,
      $weight: 700,
      $height: 1.14,
      $spacing: 0.42px,
      $transform: uppercase
    );
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__box {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: #f5f4fa;
    @include flexbox($alignment: center, $horizontal: center);
    margin-bottom: 30px;
  }
  &__list {
    @include flexbox();
    gap: 30px;
  }

  &__text {
    @include text(
      $color: $text-color,
      $size: 14px,
      $weight: 400,
      $height: 1.71,
      $spacing: 0.42px
    );
    margin-top: 10px;
  }
}
