.photo {
  padding-bottom: 94px;
  &__title {
    @extend %title;
    line-height: 1.16;
  }
  &__list {
    @include flexbox($space: 30px);
  }
  &__img {
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  }

  &__box {
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: relative;
    bottom: 70px;
    left: 0px;
    @include flexbox($horizontal: center, $alignment: center);
  }
  &__info {
    @include text(
      $color: $main_title-color,
      $size: 14px,
      $weight: 700,
      $height: normal,
      $spacing: 0.42px,
      $transform: uppercase
    );
    text-align: center;
  }
}
