.button {
  padding-top: 94px;
  padding-bottom: 48px;
  &__container {
    @include flexbox($alignment: center, $horizontal: center);
  }
  &__list {
    @include flexbox($space: 8px, $horizontal: center);
  }
  &__button {
    background-color: rgba(245, 244, 250, 1);
    @include info($align: center, $weight: 500, $height: 1.63);
    border-radius: 4px;
    background: $icons-color;
    width: 102px;
    height: 38px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: $main_title-color;
      background-color: $navigation-color;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    }
  }
}
