.postersss {
  padding-bottom: 150px;
}
.posters {
  &__title {
    @include text(
      $color: $title-color,
      $size: 18px,
      $weight: 700,
      $height: 2,
      $spacing: 1.08px
    );
  }
  &__imgs {
    @include flexbox($space: 30px, $horizontal: center);
    flex-wrap: wrap;
  }
  &__img {
    flex-basis: calc(100% - (30px * 3) / 3);
    max-width: 370px;
    border: 1px solid $border-color;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    }
  }
  &__box {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
  }
  &__text {
    @include info($color: $text-color, $weight: 400, $height: 1.88);
    margin-top: 4px;
  }
  &__info {
    @include text(
      $color: $main_title-color,
      $size: 18px,
      $weight: 400,
      $height: 28px,
      $spacing: 0.54px
    );
    max-width: 322px;
  }
  &__overlay {
    @include overlay($height: 300px);
    top: 0;
    left: 0;
    background: rgba(33, 150, 243, 0.9);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-top: 63px;
    transform: translateY(0);
    pointer-events: none;
  }
  &__img:hover &__overlay {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}
