%title {
  color: $title-color;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
%button {
  border-radius: 4px;
  background: $navigation-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.96px;
}
%padding {
    padding-top: 94px;
    padding-bottom: 94px;
}
