
  $logo-color: #000000;
  $title-color: #212121;
  $text-color: #757575;
  $background-color: #fff;
  $main_title-color: #fff;
  $navigation-color: #2196f3;
  $icons-color: #afb1b8;
  $border-color: #eee;
  $header-decor: #ececec;
