.footer {
  background: $title-color;
  padding-top: 60px;
  padding-bottom: 60px;
  &__title {
    @include text(
      $color: $navigation-color,
      $size: 26px,
      $weight: 700,
      $height: 1.39,
      $spacing: 0.78px
    );
    animation-name: scale-title;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  &__studio {
    color: $main_title-color;
  }
  &__adress {
    @include text(
      $color: $main_title-color,
      $size: 14px,
      $weight: 400,
      $height: 1.71,
      $spacing: 0.42px
    );
  }
  &__information {
    @include text(
      $color: $text-color,
      $size: 14px,
      $weight: 400,
      $height: 1.71,
      $spacing: 0.42px
    );
  }
  &__map {
    @include text(
      $color: $main_title-color,
      $size: 14px,
      $weight: 400,
      $height: 1.71,
      $spacing: 0.42px
    );
    margin-top: 20px;
    margin-bottom: 9px;
  }
  &__join {
    margin-left: 70px;
  }
  &__subtitle {
    @include text(
      $color: $main_title-color,
      $size: 14px,
      $weight: 700,
      $height: normal,
      $spacing: 0.42px,
      $transform: uppercase
    );
    font-style: normal;
  }
  &__icon {
    fill: $main_title-color;
  }
  &__link {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__svg11 {
    width: 24px;
    height: 24px;
    fill: $background-color;
    @include absolute($top: 13px, $right: 28px);
  }
  &__modalbutton {
    @extend %button;
    width: 200px;
    color: $background-color;
    font-style: normal;
    line-height: 30px; /* 187.5% */
    padding-right: 28px;
  }
}
.flex__container {
  @include flexbox();
}
.form {
  @include flexbox($space: 12px, $alignment: center, $horizontal: center);
  position: relative;
  &__div {
    margin-left: 93px;
  }
  &__text {
    @include text(
      $color: $main_title-color,
      $size: 14px,
      $weight: 700,
      $height: normal,
      $spacing: 0.42px,
      $transform: uppercase
    );
    font-style: normal;
    margin-bottom: 20px;
  }
  &__input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    color: $main_title-color;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      border: 1px solid $navigation-color;
    }
    &:focus {
      outline: none;
    }
  }
}
