.header {
  &__container {
    @include flexbox($alignment: center);
  }
  &__logo {
    @include text(
      $color: $navigation-color,
      $size: 26px,
      $weight: 700,
      $height: 1.38,
      $spacing: 0.78px
    );
  }
  &__adress {
    @include flexbox($space: 10px, $alignment: center);
    transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__adress:hover span {
    color: $navigation-color;
  }
  &__adress:hover svg {
    fill: $navigation-color;
  }
  &__phone {
    width: 10px;
    height: 16px;
  }
  &__studio {
    color: $logo-color;
  }

  &__letter {
    width: 16px;
    height: 12px;
    fill: rgba(117, 117, 117, 1);
  }
  &__phone {
    fill: rgba(117, 117, 117, 1);
  }
  &__list {
    margin-left: 93px;
    @include flexbox($space: 60px, $alignment: center);
  }
  &__link {
    @include text(
      $color: $title-color,
      $size: 14px,
      $weight: 500,
      $height: 1.14,
      $spacing: 0.28px
    );
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link::after {
    content: "";
    @include overlay($height: 4px);
    display: block;
    border-radius: 2px;
    background-color: $navigation-color;
    margin-top: 29px;
  }
  &__link:hover::after {
    opacity: 1;
  }
  &__link:hover {
    color: $navigation-color;
  }
  &__contacts {
    margin-left: 318px;
    @include flexbox($space: 30px);
  }
  &__adress {
    @include text(
      $color: $text-color,
      $size: 14px,
      $weight: 500,
      $height: 1.14,
      $spacing: 0.28px
    );
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__adress:hover {
    color: $navigation-color;
  }
}
