.social {
  margin-top: 16px;
  @include flexbox($space: 10px, $horizontal: center);
  &__link {
    @include flexbox($horizontal: center, $alignment: center);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover &__icon {
    fill: $background-color;
  }
  &__link:hover {
    background-color: $navigation-color;
  }
  &__icon {
    width: 20px;
    height: 20px;
    fill: rgba(175, 177, 184, 1);
  }
}
