.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
    @media screen and (min-width: 476px) {
    width: 476px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
body {
  font-family: Roboto;
}
.header {
  padding: 24px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html {
scroll-behavior: smooth;
}