:root {
  --logo-color: #000000;
  --title-color: #212121;
  --text-color: #757575;
  --background-color: #fff;
  --main_title-color: #fff;
  --navigation-color: #2196f3;
  --icons-color: #afb1b8;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: solid red;
}
body {
  font-family: Roboto;
}
.header-container {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
.header-logo {
  color: var(--navigation-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header-studio {
  color: var(--logo-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header-links {
  display: flex;
  gap: 60px;
  margin-right: 320px;
  align-items: center;
  margin-left: 90px;
}
.header-navigations {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header-nav {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-nav:hover {
  color: var(--navigation-color);
}
.header-information {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-information:hover {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.main-container {
  margin-top: 44px;
  margin-bottom: 44px;
  align-items: center;
}
.main-links {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.main-button {
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: var(--background-color);
}
.main-button:hover {
  color: var(--main_title-color);
  background: var(--navigation-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.main-title {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-top: 22px;
  margin-bottom: 4px;
}
.main-imgs {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.main-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.48px;
}
.div-container {
  margin-bottom: 94px;
}
.footer-logo {
  color: var(--navigation-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}
.footer-studio {
  color: var(--main_title-color);
}
.footer-nav {
  color: var(--main_title-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-link:hover {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.footer {
  background: var(--title-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
